# OS X
.DS_Store*
._*
Icon?
!/src/icons

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
*.log
*.gz

# vim
*.swp

# build
operators
sources
utils
index.*

# accept all files in src
!src/*
